In [5]:
#devvvvvvvvvvvvvvv222222222222
import math
from datetime import date
from datetime import datetime
from datetime import timedelta
import pandas as pd

In [6]:
def NYdate(jula_year):
    ny = jula_year*0.25875-int(jula_year/4 +0.5)+int(jula_year/100 +0.38)-int(jula_year/400 +0.595)-5.53375
    jultin =  ((jula_year*292207)+373)%800
    hour,frac = divmod(jultin*24,800)
    minute,frac = divmod(frac*60,800)
    second,frac = divmod(frac*60,800)
    christ_year = jula_year+638
    dtny = datetime(christ_year, 4, int(ny), hour , minute, second)
    return dtny;

In [7]:
class hora:
    def __init__(self,dt):
        offset = timedelta(minutes=18)
        dt= dt-offset
        jula_year = dt.year-638    
        d = date(dt.year,dt.month,dt.day)
        dtf= datetime(dt.year,dt.month,dt.day,0,0)        
        dtny = NYdate(jula_year)
        dny = date(dtny.year,dtny.month,dtny.day)
        
        if (dt>=dtny):
            jula_newyear = jula_year
        elif (dt<dtny):
            jula_newyear = jula_year-1
            dtny = NYdate(jula_newyear)
            dny = date(dtny.year,dtny.month,dtny.day)

            
        temp = (jula_newyear*292207)+373
        ahra = (temp//800)+1
        jultin =  temp%800

        kj = 800-jultin
        temp,aw= divmod((ahra*11)+650,692)
        masG,dT=divmod((ahra+temp),30)

        au = (ahra-621)%3232
        van = ahra%7

        stin = (d-dny).days
        sec = (dt-dtf).seconds

        ahra_ = ahra+stin
        stkm = (stin-1)*800
        kj_ = kj + stkm + sec//108

        awjt = (stin-1)*703+aw
        aws = awjt+(sec*703)//86400
        awdT,aw_=divmod(aws,692)
        temp,dT_=divmod((awdT+dT),30)
        masG_ = masG+temp
        van_=ahra_%7

        if (au+stin > 3232):
            au_ = au+stin-3232
        else: au_= au+stin        
        
        
##########################SUN###############################
        sun_table = [[35,32,27,22,13,5],
                     [0,35,67,94,116,129]]

        z = kj_ // 24350
        z_remainder = kj_ % 24350
        degree = z_remainder//811
        d_remainder = z_remainder % 811
        minute = d_remainder//14

        d_total = z*30+degree
        mathasun = d_total*60+minute-3


        if mathasun >= 21600:
            raise Exception('mathasun exceed or equal 21600')
        elif mathasun < 0:
            raise Exception('mathasun below 0')
        elif mathasun < 4800:
            pholsun = 21600+mathasun-4800
        else:
            pholsun = mathasun-4800


        if pholsun >= 21600:
            raise Exception('pholsun exceed or equal 21600')
        elif pholsun < 0:
            raise Exception('pholsun below 0')
        elif pholsun >= 0 and pholsun <5400:
            pholGA = pholsun

        elif pholsun >= 5400 and pholsun <10800:
            pholGA = 10800-pholsun

        elif pholsun >= 10800 and pholsun <16200:
            pholGA = pholsun-10800

        elif pholsun >= 16200:
            pholGA = 21600-pholsun


        khan = pholGA // 900
        pushlip = pholGA % 900


        jyaGA = (sun_table[0][khan]*pushlip) // 900
        ravipphol = sun_table[1][khan]+jyaGA


        if pholsun < 10800:
            Ssun = mathasun-ravipphol
        elif pholsun > 10800:
            Ssun= mathasun+ravipphol
        elif pholsun == 10800:
            if(ravipphol != 0):raise Exception('pholsun=10800 but ravipphol not 0')
            Ssun= mathasun

        if Ssun < 0:
            Ssun = Ssun+21600
        elif Ssun > 21600:
            Ssun= Ssun-21600
            
        #zodiac,frac = divmod(Ssun,1800)
        #degree,minute = divmod(frac,60)    
#        sun = []
#        sun.append(Ssun)
#         sun.append(Ssun//1800)
#         sun.append((Ssun%1800)//60)
#         sun.append((Ssun%1800)%60)

##########################MOON###############################

        moon_table = [[77,71,61,47,30,10],
                     [0,77,148,209,256,296]]

        temp = (au_-1)*86400+sec

        #zodiac,frac = divmod(x,23270400)
        #degree,frac = divmod(frac,775680)
        #minute = frac // 12928

        zodiac = temp//23270400
        degree = (temp%23270400)//775680
        minute = ((temp%23270400)%775680)//12928
        d_total = zodiac*30+degree
        mtu = d_total*60+minute+2


        mathamoon = mathasun + aw_ +(aw_//25)+(dT_*720)-40
        if mathamoon >= 21600: 
            mathamoon = mathamoon-21600

        if mathamoon >= 21600:
            raise Exception('mathamoon exceed or equal 21600')
        elif mathamoon < 0:
            raise Exception('mathamoon below 0')
        elif mtu >= 21600:
            raise Exception('mtu exceed or equal 21600')
        elif mtu < 0:
            raise Exception('mtu below 0')
        elif mathamoon>=mtu:
            uv =  mathamoon-mtu
        elif mathamoon<mtu:
            uv = 21600+mathamoon-mtu


        if uv >= 21600:
            raise Exception('uv exceed or equal 21600')
        elif uv < 0:
            raise Exception('uv below 0')
        elif uv >= 0 and uv <5400:
            pholGA = uv
        elif uv >= 5400 and uv <10800:
            pholGA = 10800-uv
        elif uv >= 10800 and uv <16200:
            pholGA = uv-10800
        elif uv >= 16200:
            pholGA = 21600-uv


        khan = pholGA // 900
        pushlip = pholGA % 900

        jyaGA = (moon_table[0][khan]*pushlip) // 900
        chandraphol = moon_table[1][khan]+jyaGA

        if uv < 10800:
            Smoon = mathamoon-chandraphol
        elif uv > 10800:
            Smoon= mathamoon+chandraphol
        elif uv == 10800:
            if(chandraphol != 0):raise Exception('uv=10800 but chandraphol not 0')
            Smoon= mathamoon

        if Smoon < 0:
            Smoon = Smoon+21600
        elif Smoon > 21600:
            Smoon= Smoon-21600


##########################RAHU###############################
        matharavi = mathasun-23
        srb = jula_newyear-610
        manut = (srb*21600)+ matharavi

        a = manut//20
        b = manut//265
        pmt = (a+b)%21600

        Srahu = 15150-pmt
        if Srahu<0:
            Srahu = Srahu+21600

##########################GETH###############################
        pholgt = (ahra_-345)%679
        mathageth = (pholgt*21600 + (sec*21600)//86400)//679
        Sgeth = 21600-mathageth
        zodiac,frac = divmod(Sgeth,1800)
        degree,minute = divmod(frac,60)

        


                
##########################Inner Plannets##################################
        plannet = ['mercury','venus']
        for plannet in plannet: 
            if plannet  == 'mercury':
                matha = ((manut*7)//46 + (manut*4)//1 + 10642)%21600
                pholPK = matharavi-13200
            elif plannet == 'venus':
                matha = ((manut*5)//3 - (manut*10)//243 + 10944)%21600
                pholPK = matharavi-4800
                
            if pholPK<0:
                pholPK = pholPK+21600

            ptma = (pholPK//5400)+1
            if ptma == 1:
                puchaPT = pholPK
                khotiPT = 5400-pholPK
            elif ptma == 2:
                puchaPT = 10800-pholPK
                khotiPT = pholPK-5400
            elif ptma == 3:
                puchaPT = pholPK-10800
                khotiPT = 16200-pholPK
            elif ptma == 4:
                puchaPT = 21600-pholPK
                khotiPT = pholPK-16200

            # puchaPT = 1064
            # khotiPT = 4336

            if puchaPT < 0:
                raise Exception('puchaPT is below 0')
            elif puchaPT > 5400:
                raise Exception('puchaPT is greater than 5400')
            elif puchaPT < 1800:
                MTpucha = (puchaPT*14640)//1800
            elif (puchaPT >= 1800) and (puchaPT < 3600) :
                MTpucha = (((puchaPT-1800)*10980)//1800)+14640
            elif puchaPT >= 3600 :
                MTpucha = (((puchaPT-3600)*3660)//1800)+25620

            if khotiPT < 0:
                raise Exception('khotiPT is below 0')
            elif khotiPT > 5400:
                raise Exception('khotiPT is greater than 5400')
            elif khotiPT < 1800:
                MTKhoti = (khotiPT*14640)//1800
            elif (khotiPT >= 1800) and (khotiPT < 3600) :
                MTKhoti = (((khotiPT-1800)*10980)//1800)+14640
            elif khotiPT >= 3600 :
                MTKhoti = (((khotiPT-3600)*3660)//1800)+25620

            MTKhoti = (MTKhoti+30)//60
            khotiphol = MTKhoti//2


            if plannet == 'mercury':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 100*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  100*60 - khotiphol
            elif plannet == 'venus':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 320*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  320*60 - khotiphol          
            
            

            MTphol = (MTpucha*60)//MTcheta


            if (ptma ==1) or (ptma ==2):
                if (matharavi  - MTphol)>=0:
                    MTS = matharavi  - MTphol
                elif (matharavi  - MTphol)<0:
                    MTS =  matharavi  - MTphol + 21600
                    print('MTS =',matharavi  - MTphol,'adjust to',MTS)          

            elif (ptma ==3) or (ptma ==4):
                if (matharavi  + MTphol)>=21600:
                    MTS = matharavi  + MTphol - 21600
                    print('MTS =',matharavi  + MTphol,'adjust to',MTS)
                elif(matharavi  + MTphol)<21600:
                    MTS = matharavi  + MTphol


            pholMT = MTS-matha
            if pholMT<0:
                pholMT=pholMT+21600

            ptnd = (pholMT//5400)+1
            if ptnd == 1:
                puchaTY = pholMT
                khotiTY = 5400-pholMT
            elif ptnd == 2:
                puchaTY = 10800-pholMT
                khotiTY = pholMT-5400
            elif ptnd == 3:
                puchaTY = pholMT-10800
                khotiTY = 16200-pholMT
            elif ptnd == 4:
                puchaTY = 21600-pholMT
                khotiTY = pholMT-16200

            if puchaTY < 0:
                raise Exception('puchaTY is below 0')
            elif puchaTY > 5400:
                raise Exception('puchaTY is greater than 5400')
            elif puchaTY < 1800:
                SGPucha = (puchaTY*14640)//1800
            elif (puchaTY >= 1800) and (puchaTY < 3600) :
                SGPucha = (((puchaTY-1800)*10980)//1800)+14640
            elif puchaTY >= 3600 :
                SGPucha = (((puchaTY-3600)*3660)//1800)+25620

            if khotiTY < 0:
                raise Exception('khotiTY is below 0')
            elif khotiTY > 5400:
                raise Exception('khotiTY is greater than 5400')
            elif khotiTY < 1800:
                SGKhoti = (khotiTY*14640)//1800
            elif (khotiTY >= 1800) and (khotiTY < 3600) :
                SGKhoti = (((khotiTY-1800)*10980)//1800)+14640
            elif khotiTY >= 3600 :
                SGKhoti = (((khotiTY-3600)*3660)//1800)+25620

            SGKhoti = (SGKhoti+30)//60
            SGphol = ((SGPucha+30)//60)//3


            if plannet == 'mercury': p= 21*60
            elif plannet == 'venus': p= 11*60            
            
            
            sp = p+SGphol

            if (ptnd ==1) or (ptnd ==4):
                SGcheta = sp + SGKhoti
            elif (ptnd ==2) or (ptnd ==3):
                SGcheta = sp - SGKhoti

            if SGcheta < 0:
                raise Exception('SGcheta < 0')
            elif khotiTY > 21600:
                raise Exception('SGcheta > SGcheta')

            mahaphol = (SGPucha*60)//SGcheta
            
            
            
            if plannet == 'mercury': 
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SMercury = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SMercury =  MTS - mahaphol + 21600
                        print('Smercury =',MTS - mahaphol,'adjust to',SMercury)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SMercury = MTS + mahaphol - 21600
                        print('SMercury =',MTS + mahaphol,'adjust to',SMercury)
                    elif(MTS + mahaphol)<21600:
                        SMercury = MTS + mahaphol
            elif plannet == 'venus': 
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SVenus = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SVenus =  MTS - mahaphol + 21600
                        print('SVenus =',MTS - mahaphol,'adjust to',SVenus)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SVenus = MTS + mahaphol - 21600
                        print('SVenus =',MTS + mahaphol,'adjust to',SVenus)
                    elif(MTS + mahaphol)<21600:
                        SVenus = MTS + mahaphol               





                
##########################Other Plannets####################################

        plannet = ['mars','jupiter','saturn','uranus']
        for plannet in plannet: 
 
            if plannet  == 'mars':
                matha  =  ((manut*1)//2 + (manut*16)//505 + 5420)%21600         
                pholPK = matha-7620
            elif plannet == 'jupiter':
                matha  = ((manut*1)//12 + (manut*1)//1032 + 14297)%21600
                pholPK = matha-10320
            elif plannet == 'saturn':
                matha  = ((manut*1)//30 + (manut*6)//10000 + 11944)%21600
                pholPK = matha-14820
            elif plannet == 'uranus':
                matha  = ((manut*1)//84 + (manut*1)//7224 + 16277)%21600
                pholPK = matha-7440        

            if pholPK<0:
                pholPK = pholPK+21600


            ptma = (pholPK//5400)+1
            if ptma == 1:
                puchaPT = pholPK
                khotiPT = 5400-pholPK
            elif ptma == 2:
                puchaPT = 10800-pholPK
                khotiPT = pholPK-5400
            elif ptma == 3:
                puchaPT = pholPK-10800
                khotiPT = 16200-pholPK
            elif ptma == 4:
                puchaPT = 21600-pholPK
                khotiPT = pholPK-16200

            # puchaPT = 1064
            # khotiPT = 4336

            if puchaPT < 0:
                raise Exception('puchaPT is below 0')
            elif puchaPT > 5400:
                raise Exception('puchaPT is greater than 5400')
            elif puchaPT < 1800:
                MTpucha = (puchaPT*14640)//1800
            elif (puchaPT >= 1800) and (puchaPT < 3600) :
                MTpucha = (((puchaPT-1800)*10980)//1800)+14640
            elif puchaPT >= 3600 :
                MTpucha = (((puchaPT-3600)*3660)//1800)+25620

            if khotiPT < 0:
                raise Exception('khotiPT is below 0')
            elif khotiPT > 5400:
                raise Exception('khotiPT is greater than 5400')
            elif khotiPT < 1800:
                MTKhoti = (khotiPT*14640)//1800
            elif (khotiPT >= 1800) and (khotiPT < 3600) :
                MTKhoti = (((khotiPT-1800)*10980)//1800)+14640
            elif khotiPT >= 3600 :
                MTKhoti = (((khotiPT-3600)*3660)//1800)+25620

            MTKhoti = (MTKhoti+30)//60
            khotiphol = MTKhoti//2


            if plannet == 'mars':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 45*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  45*60 - khotiphol
            elif plannet == 'jupiter':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 92*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  92*60 - khotiphol
            elif plannet == 'saturn':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 63*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  63*60 - khotiphol
            elif plannet == 'uranus':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 644*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  644*60 - khotiphol  



            MTphol = (MTpucha*60)//MTcheta


            if (ptma ==1) or (ptma ==2):
                if (matha - MTphol)>=0:
                    MTS = matha - MTphol
                elif (matha - MTphol)<0:
                    MTS =  matha - MTphol + 21600
                    print('MTS =',matha - MTphol,'adjust to',MTS)          

            elif (ptma ==3) or (ptma ==4):
                if (matha + MTphol)>=21600:
                    MTS = matha + MTphol - 21600
                    print('MTS =',matha + MTphol,'adjust to',MTS)
                elif(matha + MTphol)<21600:
                    MTS = matha + MTphol


            pholMT = MTS-matharavi
            if pholMT<0:
                pholMT=pholMT+21600

            ptnd = (pholMT//5400)+1
            if ptnd == 1:
                puchaTY = pholMT
                khotiTY = 5400-pholMT
            elif ptnd == 2:
                puchaTY = 10800-pholMT
                khotiTY = pholMT-5400
            elif ptnd == 3:
                puchaTY = pholMT-10800
                khotiTY = 16200-pholMT
            elif ptnd == 4:
                puchaTY = 21600-pholMT
                khotiTY = pholMT-16200

            if puchaTY < 0:
                raise Exception('puchaTY is below 0')
            elif puchaTY > 5400:
                raise Exception('puchaTY is greater than 5400')
            elif puchaTY < 1800:
                SGPucha = (puchaTY*14640)//1800
            elif (puchaTY >= 1800) and (puchaTY < 3600) :
                SGPucha = (((puchaTY-1800)*10980)//1800)+14640
            elif puchaTY >= 3600 :
                SGPucha = (((puchaTY-3600)*3660)//1800)+25620

            if khotiTY < 0:
                raise Exception('khotiTY is below 0')
            elif khotiTY > 5400:
                raise Exception('khotiTY is greater than 5400')
            elif khotiTY < 1800:
                SGKhoti = (khotiTY*14640)//1800
            elif (khotiTY >= 1800) and (khotiTY < 3600) :
                SGKhoti = (((khotiTY-1800)*10980)//1800)+14640
            elif khotiTY >= 3600 :
                SGKhoti = (((khotiTY-3600)*3660)//1800)+25620

            SGKhoti = (SGKhoti+30)//60
            SGphol = ((SGPucha+30)//60)//3

            
            if plannet == 'mars': p= (4*MTcheta)//15 
            elif plannet == 'jupiter': p= (3*MTcheta)//7
            elif plannet == 'saturn': p= (7*MTcheta)//6 
            elif plannet == 'uranus':p= (3*MTcheta)//7 
    

            sp = p+SGphol
            if (ptnd ==1) or (ptnd ==4):
                SGcheta = sp + SGKhoti
            elif (ptnd ==2) or (ptnd ==3):
                SGcheta = sp - SGKhoti

            if SGcheta < 0:
                raise Exception('SGcheta < 0')
            elif khotiTY > 21600:
                raise Exception('SGcheta > SGcheta')

            mahaphol = (SGPucha*60)//SGcheta

            

            if plannet == 'mars':
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        Smars = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        Smars =  MTS - mahaphol + 21600
                        print('Smars =',MTS - mahaphol,'adjust to',Smars)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        Smars = MTS + mahaphol - 21600
                        print('Smars =',MTS + mahaphol,'adjust to',Smars)
                    elif(MTS + mahaphol)<21600:
                        Smars = MTS + mahaphol 
            elif plannet == 'jupiter':
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        Jupiter = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        Jupiter =  MTS - mahaphol + 21600
                        print('Jupiter =',MTS - mahaphol,'adjust to',Jupiter)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        Jupiter = MTS + mahaphol - 21600
                        print('Jupiter =',MTS + mahaphol,'adjust to',Jupiter)
                    elif(MTS + mahaphol)<21600:
                        Jupiter = MTS + mahaphol 
            elif plannet == 'saturn':
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SSaturn = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SSaturn =  MTS - mahaphol + 21600
                        print('SSaturn =',MTS - mahaphol,'adjust to',SSaturn)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SSaturn = MTS + mahaphol - 21600
                        print('SSaturn =',MTS + mahaphol,'adjust to',SSaturn)
                    elif(MTS + mahaphol)<21600:
                        SSaturn = MTS + mahaphol
            elif plannet == 'uranus':
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SUranus = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SUranus =  MTS - mahaphol + 21600
                        print('SUranus =',MTS - mahaphol,'adjust to',SUranus)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SUranus = MTS + mahaphol - 21600
                        print('SUranus =',MTS + mahaphol,'adjust to',SUranus)
                    elif(MTS + mahaphol)<21600:
                        SUranus = MTS + mahaphol 
    



        


        #TS Parameter (yearly parameter) 
        self.dt = dt  
        self.dtny = dtny 
        self.dny = dny 
        self.ahra = ahra 
        self.jultin = jultin 
        self.kj = kj 
        self.aw = aw 
        self.masG = masG 
        self.dT = dT
        self.au = au 
        self.van = van 
        
        #Given Datetime parameter
        self.stin = stin 
        self.sec = sec 
        self.ahra_ = ahra_ 
        self.kj_ = kj_ 
        self.aw_ = aw_ 
        self.masG_ = masG_ 
        self.dT_ = dT_
        self.au_ = au_ 
        self.van_ = van_
     
        #locations in zodiac (minutes maximum = 21600) 
        self.sun = Ssun
        self.moon = Smoon
        self.rahu = Srahu
        self.geth = Sgeth
        self.mars = Smars
        self.mercury = SMercury
        self.venus = SVenus
        self.jupiter = Jupiter
        self.saturn = SSaturn
        self.uranus = SUranus

In [9]:
dt1= datetime(1984,1,27,9,49)
dt2= datetime(2007,3,30,8,55)
dt3= datetime(2010,1,27,23,55)


test1= hora(dt1)
test2= hora(dt2)
test3= hora(dt3)

#Create dataframe
#Method1
data = {
    'dt': [dt1,dt2,dt3],
    'ssun' : [test1.sun,test2.sun,test3.sun],
    'smoon': [test1.moon,test2.moon,test3.moon],
    'srahu' : [test1.rahu,test2.rahu,test3.rahu],
    'sgeth' : [test1.geth,test2.geth,test3.geth],
    'smars' : [test1.mars,test2.mars,test3.mars],
    'smercury' : [test1.mercury,test2.mercury,test3.mercury],
    'svenus' : [test1.venus,test2.venus,test3.venus],
    'jupiter' : [test1.jupiter,test2.jupiter,test3.jupiter],
    'ssaturn' : [test1.saturn,test2.saturn,test3.saturn],
    'suranus' : [test1.uranus,test2.uranus,test3.uranus]
}


#Method2
# data = [
#     {'dt': dt1, 'ssun': test1.sun, 'smoon': test1.moon},
#     {'dt': dt2, 'ssun': test2.sun, 'smoon': test2.moon},
#     {'dt': dt3, 'ssun': test3.sun, 'smoon': test3.moon},
# ]

df = pd.DataFrame(data)



#Add row to DataFrame
#METHOD1: add or update specify by row name 
#df.loc[2] = [dt3,10,20]
#df.loc[3] = [dt3,10,20]

#METHOD1.1: Add row to the end of dataframe 
#df.loc[len(df.index)] = [dt3,10,20]
#df.loc[len(df.index)] = [dt3,10,20]
# df.loc[len(df.index)] = [dt3,10,20]


#METHOD2: Add row to some columns
#df = df.append({'dt' : 'dateadded' , 'ssun' : 2222} , ignore_index=True)

#print(len(df.index))


#Change column name
#df.columns = 'a','b','c'

#create new column and data
#method1
#df['newcolumn1'] = ''
#df['newcolumn1'] = [1,2,3,4,5]

#Method2
#df.insert(4, "newcolumn2", [21, 23, 24, 21, 20], True) 
#df.insert(len(df.columns), "newcolumn2", [21, 23, 24, 21, 20], True) 

#Method3-Create new 
#df2 = df.assign(address = ['Delhi', 'Bangalore', 'Chennai', 'Patna', 'ddd']) 
#df2


#Drop column 
#df = df.drop(columns=['newcolumn1','newcolumn2'])


# df['sun_Z'] =  df['ssun']//1800 
# df['sun_D'] =  (df['ssun']%1800)//60 
# df['sun_M'] =  (df['ssun']%1800)%60

# df['moon_Z'] =  df['smoon']//1800 
# df['moon_D'] =  (df['smoon']%1800)//60 
# df['moon_M'] =  (df['smoon']%1800)%60

# df['rahu_Z'] =  df['srahu']//1800 
# df['rahu_D'] =  (df['srahu']%1800)//60 
# df['rahu_M'] =  (df['srahu']%1800)%60

# df['geth_Z'] =  df['sgeth']//1800 
# df['geth_D'] =  (df['sgeth']%1800)//60 
# df['geth_M'] =  (df['sgeth']%1800)%60

# df['mars_Z'] =  df['smars']//1800 
# df['mars_D'] =  (df['smars']%1800)//60 
# df['mars_M'] =  (df['smars']%1800)%60



# df[0:]




#sliding rows 
#df[2:3]

#sliding columns 
# df[['dt','ssun','smoon']]

#sliding rows and columns 
#df.loc[row,colmm]
# df.loc[:,:]
# df.loc[1,['dt']]
# df.loc[1:3,['dt','ssun','smoon']]
# df.loc[1:3,'dt':'ssun']

#Change index
# df.set_index("dt", inplace=True)
# df.loc[:,:]
# df.loc[dt1,:]
# df.loc[dt1:dt3,['ssun','smoon']]
# df.loc[dt1:dt3,'ssun':'ssun_m']

#boolean
# df.loc[df['smoon'] >= 7000,'ssun':'ssun_m']

df



#df.loc[0:3,'dt']>dt1
#df.loc[0:3,'dt']>dt1
#data.set_index("last_name", inplace=True)

SVenus = 22652 adjust to 1052

,dt,ssun,smoon,srahu,sgeth,smars,smercury,svenus,jupiter,ssaturn,suranus
0,1984-01-27 09:49:00,16953,12913,2933,12108,11722,15638,14765,14973,11999,13324
1,2007-03-30 08:55:00,20702,7569,19222,2089,18000,19459,1052,14290,6638,19352
2,2010-01-27 23:55:00,17006,4243,15932,12376,6532,15561,17075,18535,9464,19983

In [38]:
#df[['dt','ssun','sun_Z','sun_D','sun_M','smoon','moon_Z','moon_D','moon_M']]

In [39]:
# s_ravi = {
#     'jya': [35,32,27,22,13,5],
#     'ravi': [0,35,67,94,116,129]
# }
# #df = pd.DataFrame(s_ravi)
# df = pd.DataFrame(s_ravi)
# #df.iloc[1] = [kj,Ssun]
# #df.append(data)
# df = df.append({'kj' : 'Sahil' , 'sun' : 22} , ignore_index=True)
# df = df.append({'kj' : 'Sahil' , 'sun' : 22} , ignore_index=True)

# df = df.append({'kj' : 'Sahil' , 'sun' : 22 , 'datetime' : dt} , ignore_index=True)
# df = df.append({'kj' : 'Sahil' , 'sun' : 22 , 'datetime' : dtny} , ignore_index=True)


#Create dataframe
df = pd.DataFrame()

# Creating an empty Dataframe with column names only
df = pd.DataFrame(columns=['User_ID', 'UserName', 'Action'])

# Create an empty Dataframe with columns or indices
#df = pd.DataFrame(columns=['User_ID', 'UserName', 'Action'], index=['a', 'b', 'c'])

print(df.head(5))
print(df.tail())

print(df.dtypes)
print(df.index)
print(df.columns)
print(df.values)

#for index,row in df.iterrows():
#    print (index, row['ssun'], row['smoon'])

Empty DataFrame
Columns: [User_ID, UserName, Action]
Index: []
Empty DataFrame
Columns: [User_ID, UserName, Action]
Index: []
User_ID     object
UserName    object
Action      object
dtype: object
Index([], dtype='object')
Index(['User_ID', 'UserName', 'Action'], dtype='object')
[]

In [8]:
day,month,year,hour,minute = 27,1,2527,9,49
christ_year = year-543

dt= datetime(christ_year,month,day,hour,minute)

a = hora(dt)  
print('dt =', a.dt)
print('dtnt =', a.dtny)
print('ahra =', a.ahra)
print('jultin =', a.jultin)
print('kj =', a.kj)
print('aw =', a.aw)
print('masG =', a.masG)
print('dT =', a.dT)
print('au =', a.au)
print('van =', a.van)

print('stin =', a.stin)
print('sec =', a.sec)
print('ahra_ =', a.ahra_)
print('kj_ =', a.kj_)
print('aw_ =', a.aw_)
print('masG_ =', a.masG_)
print('dT_ =', a.dT_)
print('au_ =', a.au_)
print('van_ =', a.van_)

print('sun =', a.sun)
print('moon =', a.moon)
print('rahu =', a.rahu)
print('geth =', a.geth)
print('mars =', a.mars)
print('mercury =', a.mercury)
print('venus =', a.venus)
print('jupiter =', a.jupiter)
print('saturn =', a.saturn)
print('uranus =', a.uranus)

dt = 1984-01-27 09:31:00
dtnt = 1983-04-16 11:38:24
ahra = 491274
jultin = 388
kj = 412
aw = 144
masG = 16636
dT = 4
au = 2621
van = 0
stin = 286
sec = 34260
ahra_ = 491560
kj_ = 228729
aw_ = 97
masG_ = 16645
dT_ = 24
au_ = 2907
van_ = 6
sun = 16953
moon = 12913
rahu = 2933
geth = 12108
mars = 11722
mercury = 15638
venus = 14765
jupiter = 14973
saturn = 11999
uranus = 13324

#